/* Utility Classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-around {
  justify-content: space-around;
}

.align-item-center {
  align-items: center;
}

.flex-shrink {
  flex-shrink: 1;
  }

.mt-auto {
  margin-top: auto;
}

.pl-30 {
  padding-left: 30px;
}

a {
 text-decoration: none;
}

li {
   list-style: none;
}

/* /Utility Classes */

/* Sidebar */
.sidebar {
  width: 250px;
  height: calc(100vh - 80px);
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  font-weight: 600;
  line-height: 30px;
}

aside a {
  font-size: 12px;
  color: grey;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

aside a:hover {
  color: white;
  border-left: 2px solid yellowgreen;
}

.logo img {
  height: 40px;
  margin: 20px 0 20px 20px;
}

.logo img:last-child {
  display: none;
}

.menu ul img{
height: 25px;
margin-right: 10px;
}

.menu {
  margin-bottom: 30px;
}

.playlist_plus {
  overflow-y: auto;
}

.playlist_plus h3 {
  padding-left: 20px;
}

.playlist_plus ul i {
  font-size: 25px;
  margin-right: 10px;
}

.sidebar_bottom {
  font-size: 12px;
  margin: 100px 20px 10px 20px;
}

.sidebar_bottom hr {
  margin: 5px 0;
}

.installing img,
.profile img {
  height: 30px;
  width:  30px;
  margin-right: 10px;
}

.installing {
  color: grey;
}

.profile img {
  background-color: #282828;
  padding: 2px;
  border-radius: 50%;
}

.profile {
  color: white;
}
/* Sidebar */

/* Substrive bunner */
.subscrive_banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

.subscrive_banner button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  margin: 10px 30px;
  padding: 0 20px;
  font-weight: 600;
}
/* /Substrive bunner */

.site_content {
  background-color: #151922;
  width: calc(100vw - 250px);
  height: calc(100vh - 80px);
  margin-left: 250px;
  overflow-y: auto;
}

/* Section music conetent */
.cover_section {
  padding: 20px;
  padding-top: 60px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Nav Cover section */
.cover_section nav {
  font-size: 18px;
}

.cover_section nav a {
  color: grey;
  font-weight: 600;
  text-align: center;
  margin: auto;
  width: calc(100%/6);
  white-space: nowrap;
  padding: 10px;
}

.cover_section a:hover div:after {
  content: "";
  display: block;
  width: 30%;
  margin: 0 auto;
  border-bottom: 2px solid yellowgreen;
}

.cover_section a:hover {
  color: white;
}
/* /Nav Cover section */

.recently_played h2,
.created_for h2,
.popular h2 {
  margin: 30px 0 10px 0;
}

.recently_played p,
.created_for p,
.popular p {
  color: grey;
}

.item img {
  width: 100%;
  height: auto;
}

.item {
  width: calc(100%/6);
  text-align: center;
  padding: 20px 15px;
  line-height: 20px;
}

.item h3 {
  margin: 5px 0;
  font-size: 16px;
}

.item p {
  color: grey;
  font-size: 12px;
}

.popular .item img {
  border-radius: 50%;
}

.created_for .item:last-child,
.popular .item:last-child {
  margin-right: auto;
}

/* /Section music conetent */

/* Footer */
footer.site_footer {
  background-color: #282828;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
/* Player */
.player {
  height: 100%;
  width: 100%;
}
/* Songs Player */
.song_player {
  width: 25%;
}

.player img {
  width: 60px;
  height: 60px;
  margin: 0 30px;
}

.artist_title {
  margin-right: auto;
}

.artist_title h4 {
  font-size: 16px;
}

.artist_title span {
  color: grey;
  font-size: 12px;
}

.icons_song i {
  color: grey;
  font-size: 20px;
  padding: 0 10px;
}
/* Songs Player */
/* Icons player */
.icons_player {
  width: 50%;
}

.icons_player_content {
  width: 100%;
}

.player_control i {
  color: white;
  font-size: 15px;
  padding: 0 15px;
}


.player_control i:nth-last-child(3) {
  font-size: 25px;
}

.time_line {
  width: 70%;
  height: 3px;
  margin: 10px auto;
  border-radius: 50px;
  background-color: grey;
}
/* Icons player */
/* Icons volume */
.icons_volume {
  width: 25%;
}

.icons_volume i {
  color: white;
  padding: 0 15px;
}

.volume_line {
  display: inline-block;
  width: 100px;
  height: 3px;
  margin-right: auto;
  border-radius: 50px;
  background-color: grey;
}
/* /Icons volume */
/* Player */
/* /Footer */

/* Media Query Medium */
@media screen and (max-width: 1140px) {
  .cover_section nav a {
    flex-basis: calc(100%/3);
  }

  .item {
    width: calc(100%/3);
  }

}

/* Media Query S */
@media screen and (max-width: 720px) {
  .cover_section nav a {
    width: calc(100%/3);
    font-size: 14px;
  }

  .item {
    width: calc(100%/2);
  }

  .song_player img {
    display: none;
  }

  .song_player h4,
  .song_player span {
    padding-left: 20px;
  }

  .icons_volume i {
    padding: 0 10px;
  }

  .volume_line {
    padding-right: 5px;
  }
}

/* Media Query XS */
@media screen and (max-width: 540px) {
  .cover_section nav a {
    width: calc(100%/3);
    font-size: 14px;
  }

  .sidebar {
    width: 80px;
  }

  .logo img {
    display: none;
    margin: 20px;

  }

  .logo img:last-child {
    background-color: black;
    display: block;
    color: black;
  }

  .menu .text_menu {
    display: none;
  }

  .menu ul img{
  height: 25px;
  margin: 10px;
  }

  .sidebar_bottom span,
  .sidebar_bottom hr,
  .profile span {
    display: none;
  }

  .playlist_plus {
    display: none;
  }

  .sidebar_bottom img,
  .profile img {
    margin: 5px auto;
  }

  .site_content {
    width: calc(100vw - 80px);
    margin-left: 80px;
  }

  .subscrive_banner {
    width: calc(100% - 80px);
  }

  .item {
    width: calc(100%/2);
  }

  .song_player img {
    display: none;
  }

  .song_player h4,
  .song_player span {
    padding-left: 20px;
  }

  .icons_volume i {
    padding: 0 10px;
  }

  .volume_line {
    display: none;
  }
}
